#EpicRename by Justin Brubaker. https://www.spigotmc.org/resources/epicrename.4341/
#Version 3.12+

#DO NOT CHANGE THIS PLEASE
config_version: 12

#Plugin Prefix
prefix: '&8[&bEpic&fRename&8] &f'

#Economy Features
#You must restart the server after changing the economy settings.
economy:
  use: false
  costs:
    rename: 100
    lore: 100
    glow: 100

#Experience Cost. The values below are individual experience points NOT levels.
#Minecraft uses a system where higher experience levels require more experience points for each level.
xp:
  use: false
  costs:
    rename: 55
    lore: 55
    glow: 55    

#Blacklists    
blacklists:
  material:
    - 'VAILD_MATERIAL_HERE'
  #Only player provided text is checked against the text blacklist. 
  #Use blacklists.existingname or blacklists.existingloreline to prevent players from 
  #editing already created items with certain text as part of their name or lore.
  text:
    - 'some_bad_phrase_here'
  
  #These values are checked without color and are case insensitive.  
  existingname:
    - 'a name that is not case sensitive'
  
  #These values are checked without color and are case insensitive.    
  existingloreline:
    - 'a string of text to check for every lore line that is not case sensitive'
    
#Character limit for /rename. Default limit is 30 characters.
rename_character_limit:
  enabled: false
  limit: 30  

#Maximum lines allowed for /setloreline
setloreline_max_lines: 20

#Formatting Code Limit.
formatting_code_limit:
  enabled: false
  rename:
    min: 0
    max: 30
  #Checked per line of lore  
  lore: 
    min: 0
    max: 30
  setloreline:
    min: 0
    max: 30
  insertloreline:
    min: 0
    max: 30 
  addloreline:
    min: 0
    max: 30  
    
#Should underscores be replaced with spaces?
replace_underscores: false
add_trailing_space_to_rename: false
add_leading_space_to_rename: false

#Per world plugin enable
per_world: false

#Enabled worlds
enabled_worlds:
  - 'world'
  - 'world_nether'
  - 'world_the_end'

#Disables bypass messages from being sent to all players.  
disable_bypass_messages: false 

#Exploit Prevention
disable_grindstone_for_glowing_items: true

# Command arguments prefixes and suffixes
command_argument:
  prefixes:
    rename: ''
    lore:
      each_line: ''
  suffixes:
    rename: ''
    lore:
      each_line: ''
    
'block_&x_color_codes': true    